:root {
    --sky-main: #5ac3ff;
    --sky-accent: #d3efff;
    --sky-white: #fff;
    --error: #f15555;
    --error-accent: #ff9191;
}
a {
    text-decoration: underline;
}
textarea {
    resize: none;
}
hr {
    width: 100%;
    border-color: var(--sky-main);
}
.register {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-size: 18px;
    font-weight: 700;
    color: var(--sky-main);
}
button {
    background-color: var(--sky-main);
    border: 2px solid var(--sky-main);
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}
button:hover {
    background-color: var(--sky-white);
    color: var(--sky-main);
    border: 2px solid var(--sky-main);
}

.clearBtn {
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--sky-main);
}
.clearBtn:hover {
    border: none;
    color: #767676;
}

.tabBtn {
    border-radius: 10px 10px 0 0;
}

.tab-content {
    padding: 10px 0;
    border: 2px solid var(--sky-main);
    border-radius: 0 10px 10px 10px;
}

.disabled-btn {
    background-color: var(--error-accent);
    border: 2px solid var(--error);
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}
.disabled-btn:hover {
    background-color: var(--error);
    color: var(--sky-white);
    border: 2px solid var(--error);
}
.scroll {
    overflow: scroll;
    scrollbar-color: var(--sky-main) transparent;
    scrollbar-width: thin;
}
.float {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.goldbtn {
    background-image: url("http://127.0.0.1:8000/site/button.png");
    max-width: 273px;
    width: 100%;
    height: 85px;
    padding-top: 20px;
    text-align: center;
    font-family: "Eagle Lake", serif;
    font-size: 30px;
    color: #6c2d03;
    background-size: contain;
    background-repeat: no-repeat;
}
.goldbtn-sm {
    background-image: url("http://127.0.0.1:8000/site/button.png");
    width: 100%;
    text-align: center;
    font-family: "Eagle Lake", serif;
    color: #6c2d03;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 190px;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    font-size: 25px;
}
.goldbtn:hover {
    filter: brightness(130%);
}
.page {
    font-family: "Cherry Bomb One", system-ui;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px #7bc4ff;
}
.bubble {
    font-family: "Cherry Bomb One", system-ui;
}

.selection-icon img {
    width: 80px;
}
/*FORUM STYLING*/
.forum-quote {
    font-style: italic;
    background-color: var(--sky-accent);
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    text-align: center;
}
.forum-quote::before {
    content: open-quote;
}
.forum-quote::after {
    content: close-quote;
}

/* HIDE RADIO */
[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
[type="radio"] + img {
    cursor: pointer;
    border: 2px solid var(--color-amber-400);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--sky-accent);
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
    background-color: var(--sky-main);
}

/*X BUTTON UI*/
.x-btn {
    height: 87px;
    width: 82px;
    background-image: url("http://127.0.0.1:8000/site/x-button.png");
    background-size: contain;
}
.x-btn:hover {
    background-image: url("http://127.0.0.1:8000/site/x-button-press.png");
}

/*TABS*/
#tabs,
#tabs-ul {
    background-color: transparent !important;
    border: none !important;
}
#tabs-ul {
    margin-top: -41px !important;
    margin-left: 12px !important;
}
.ui-tabs-panel {
    max-height: 600px !important;
    overflow-y: auto;
    scrollbar-color: #74d4ff transparent !important;
}

.tabs-li {
    border-radius: 10px 10px 0 0 !important;
    border: none !important;
    background-color: #daf1f9 !important;
}
.ui-state-active,
.ui-state-active a {
    background-color: #fff !important;
    color: #000 !important;
    border-radius: 10px 10px 0 0 !important;
}
/*CONTEST BANNERS*/
.contest-banner {
    max-width: 200px;
    max-height: 70px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.contest-icon {
    width: 60px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
@media screen and (max-width: 768px) {
    .goldbtn {
        max-width: 190px;
        width: 100%;
        height: 60px;
        padding-top: 10px;
        font-size: 25px;
    }
    .ui-tabs-panel {
        max-height: 500px !important;
        overflow-y: auto;
        scrollbar-color: #74d4ff transparent !important;
    }
    .x-btn {
        height: 67px;
        width: 62px;
    }
}

/*SCROLLBAR */
/* Target the scrollbar container */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent; /* Optional: transparent base */
}

/* Transparent track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #ffb700; /* Semi-transparent black */
    border-radius: 4px;
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
